
.form-index{
    position: relative;
    width: 64% !important;
}

.form-index.card{
    border-radius: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
}

.form-index .card-body{
    background-color: white;
}

.form-index .card-header{
    padding: 0 0 !important;
    background-color: transparent !important;
}

@media screen and (max-width: 768px){
    .form-index{
        width: 90.5% !important;
    }
}

.container-alumnos,
.container-personal{
    position: relative;
    padding-top: 1%;
    padding-bottom: 3%;
}

.form-group{
    margin-bottom: 1rem;
}

.form-group:first-child{
    margin-top: 1rem;
}

.btn-form-selection{
    position: relative;
    border: 0;
    padding: 8px;
    width: 100px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    transition: 115ms;
}

.btn-form-selection:hover:not(.btn-selected){
    background-color: rgba(110, 160, 247, 0.32);
}

.btn-selected{
    background-color: #1e5fcf;
    color: #ffffff;
}

@media screen and (min-width: 768px){
    .form-index{
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        left: 34%;
        top: 42.5%;
    }
}